{% extends "layout.html" %}
{% block content %}
<div>
    <h1>ShaSol</h1>
    <h4>Project Description</h4>
    <p>ShaSol is an abbreviation for <b>SHARE SOLUTION</b>.</p>

    <p>ShaSol is a micro blogging digital platform that was purposely
        designed and developed for software engineers to share their solutions by blogging on the ShaSol platform.</p>

    <h2>Why this project</h2>
    <p><b>Software Engineer</b> is an exciting career, that involves alot of research and resources to able to comeout
        with
        a
        workable and application.
        <i>This makes an Engineer to read wide for a solutions with to a new technologies. Due to that the engineers try
            to
            have a
            documentation of every solution to the usage
            and how such technology was implemented and configured.</i> With this platform, ShaSol, the engineer can
        post
        every
        solutions, links and procedures, that
        served as guide when engineering a solution with a software application.
    </p>


    <h2>Technologies used or Requirements</h2>
    <p>
    <div class="push">
        <ul>
            <li>Flask-Bcrypt</li>
            <li>Flask-Mail</li>
            <li>Flask-SQLAlchemy</li>
            <li>Flask-Login</li>
            <li>Flask-WTF</li>
            <li>Flask-Migrate</li>
            <li>Flask-ckeditor</li>
            <li>Email-validator</li>
            <li>alembic</li>
            <li>Gunicorn</li>
            <li>Jinja2</li>
            <li>Pillow</li>
            <li>Requests</li>
            <li>WTForms</li>
            <li>SQLAlchemy</li>
        </ul>
    </div>
    </p>
</div>
{% endblock content %}